

    <?php  foreach ($filter_groups as $filter_group) { ?>
        <ul>
            <li class="<?= isset($_GET['filter']) ? '' : 'active'?>" ><a href="##" data-href="all">Все</a></li>
        <?php foreach ($filter_group['filter'] as $filter) { ?>
            <li class="<?=($filter['filter_id'] == $_GET['filter']) ? 'active' : ''?>"><a href="&<?php echo $filter['filter_id']; ?>" data-href="<?php echo $filter['filter_id']; ?>"><?php echo $filter['name']; ?></a></li>
        <?php } ?>
        </ul>
    <?php } ?>

<script type="text/javascript"><!--
$('.filter a').on('click', function(e) {
    e.preventDefault();
	filter = [];

	if($(this).parent().hasClass('active')){
        $(this).parent().removeClass('active');
    }else{
        $(this).parent().addClass('active');
    }
//    console.log($(this).parent().find('.active'));
//	$('.filter .active a').each(function(element) {
//
//		filter.push($(this).data('href'));
//	});

    if($(this).data('href') == 'all'){
        location = '<?php echo $action; ?>';
    }else {
        location = '<?php echo $action; ?>&filter=' + $(this).data('href');
    }
});
//--></script>
