<?php echo $header; ?>
    <main class="page-home">

		<?php echo $content_top; ?>
        <section class="about">
            <div class="container">
                <?php echo $column_left; ?>
                <a href="/about_us" class="btn-red reverse">дальше</a>
            </div>
        </section>
		<?php echo $content_bottom; ?>
<!--		--><?php //echo $column_right; ?>
	</main>
<?php echo $footer; ?>