@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
  list-style: none;
  border-radius: 0;
  line-height: 1;
  font-weight: 400;
  color: white;
  font-family: 'Roboto', sans-serif;
}

input,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

*:focus {
  outline: transparent;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: auto;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2d3843;
  background-image: url("../img/bg.png");
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

body footer {
  margin-top: auto;
  margin-bottom: 0;
}

.slick-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: flex;
}

.slick-dots li {
  margin-right: 10px;
}

.slick-dots li:last-child {
  margin-right: 0;
}

.slick-dots button {
  background-color: #9c8f8d;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1px;
  color: transparent;
  width: 15px;
  height: 15px;
  border-radius: 99px;
  cursor: pointer;
  transition: 0.3s;
}

.slick-dots .slick-active button {
  background-color: #e54818;
}

.btn-red {
  padding: 10px 35px;
  font-size: 16px;
  background-color: #e54818;
  border-radius: 99px;
  display: inline-block;
  transition: 0.3s;
  border: 2px solid #e54818;
  cursor: pointer;
}

.btn-red:hover {
  background-color: #ff5e1f;
}

.btn-red.reverse {
  background-color: transparent;
}

.btn-red.reverse:hover {
  background-color: #e54818;
}

.blue-block {
  background-color: #222f3b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.section-title {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  position: relative;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.section-title:before {
  content: "";
  position: absolute;
  left: -3%;
  top: calc(100% + 3px);
  width: 106%;
  height: 4px;
  background-color: #e54818;
  z-index: -1;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

/* Icons */

@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

.header {
  margin-top: 35px;
}

.header .top-line {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #222f3b;
}

.header .top-line .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .top-line .phone-btn {
  transition: 0.3s;
  position: relative;
  z-index: 3;
}

.header .top-line .phone-btn .box {
  padding: 10px;
  background-color: #e54818;
}

.header .top-line .phone-btn .box:hover {
  background-color: #ff5e1f;
}

.header .top-line .phone-btn:hover .box:last-child {
  -webkit-transform: none;
  transform: none;
}

.header .top-line .phone-btn .box:last-child {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px 10px 10px 10px;
  white-space: nowrap;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: 0.3s;
  z-index: -1;
}

.header .top-line .phone-btn .box:last-child:hover {
  -webkit-transform: none;
  transform: none;
}

.header .top-line .call-back {
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
  margin: 0 auto 0 15px;
  transition: 0.3s;
}

.header .top-line .call-back:hover {
  color: #e54818;
}

.header .top-line .top-line-menu ul {
  display: flex;
}

.header .top-line .top-line-menu li {
  margin-right: 15px;
}

.header .top-line .top-line-menu li:last-child {
  margin-right: 0;
}

.header .top-line .top-line-menu a {
  transition: 0.3s;
  font-size: 14px;
}

.header .top-line .top-line-menu a:hover {
  color: #e54818;
}

.header .mid-line {
  padding-top: 70px;
  padding-bottom: 45px;
  position: relative;
}

.header .mid-line h1 {
  font-family: 'Noto Serif', serif;
  font-size: 65px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.header .mid-line h2 {
  font-family: 'Noto Serif italic', serif;
  font-size: 17px;
  font-style: italic;
  text-align: center;
}

.header .mid-line .languages {
  position: absolute;
  top: 15px;
}

.header .mid-line .languages a {
  font-weight: 300;
  margin-right: 15px;
}

.header .mid-line .languages a.active {
  font-weight: 500;
}

.header .bottom-line {
  z-index: 10;
  position: relative;
}

.header .bottom-line .container {
  background-color: #5b606b;
  border-radius: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  transition: 0.3s;
}

.header .bottom-line ul {
  display: flex;
}

.header .bottom-line .categories-list {
  padding-left: 15px;
  width: 100%;
  padding-right: 15px;
}

.header .bottom-line .categories-list li {
  flex-grow: 1;
}

.header .bottom-line .categories-list a {
  display: block;
  padding: 15px;
  transition: 0.3s;
  font-size: 15px;
  white-space: nowrap;
  text-align: center;
}

.header .bottom-line .categories-list a:hover {
  background-color: #e54818;
}

.header .bottom-line .cart-block {
  display: flex;
  align-items: center;
  transition: 0.3s;
  padding-right: 30px;
  position: relative;
  padding-left: 20px;
}

.header .bottom-line .cart-block:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #8d939f;
  width: 2px;
  height: 30px;
}

.header .bottom-line .cart-block img {
  margin-right: 10px;
  margin-top: -4px;
}

.header .bottom-line .cart-block:hover {
  color: #ff561d;
}

.header.fixed .bottom-line {
  position: fixed;
  left: 0;
  top: 38px;
  width: 100%;
}

.header.fixed .bottom-line .container {
  max-width: 100%;
  width: 100%;
  padding: 0 calc((100% - 1200px)/2);
  border-radius: 0;
}

.header .mob-menu-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #8d939f;
  position: fixed;
  right: 5%;
  top: 0;
  z-index: 10;
  cursor: pointer;
}

.header .mob-menu-btn span {
  width: 30px;
  height: 3px;
  background-color: white;
  display: block;
  margin-bottom: 5px;
  transition: 0.3s;
}

.header .mob-menu-btn span:last-child {
  margin-bottom: 0;
}

.header .mob-menu-btn.open span:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.header .mob-menu-btn.open span:nth-child(2) {
  opacity: 0;
}

.header .mob-menu-btn.open span:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.header .mob-menu {
  background-color: rgba(141, 147, 159, 0.95);
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 5vw;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  transition: 0.4s;
}

.header .mob-menu.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.header .mob-menu li {
  margin-bottom: 7px;
}

.header .mob-menu a {
  font-size: 18px;
  transition: 0.3s;
}

.header .mob-menu a:hover {
  color: #e54818;
}

.header .mob-menu .top-menu-cont {
  margin-bottom: 40px;
  position: relative;
}

.header .mob-menu .top-menu-cont:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 40px;
  height: 2px;
  background-color: white;
}

.header .mob-menu .zvonok {
  position: absolute;
  right: 5vw;
  bottom: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .mob-menu .zvonok a:nth-child(1) {
  margin-bottom: 7px;
}

.header .mob-menu .zvonok a:nth-child(2) {
  margin-bottom: 20px;
  position: relative;
}

.header .mob-menu .zvonok a:nth-child(2):after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -12px;
  width: 20px;
  height: 2px;
  background-color: white;
}

.footer {
  padding: 30px 0 15px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.footer .container > div:nth-child(1),
.footer .container > div:nth-child(3) {
  width: 250px;
}

.footer .container .left-coll h3 {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer .container .left-coll p {
  font-size: 12px;
  color: #e54818;
}

.footer .container .mid-coll {
  padding-top: 10px;
}

.footer .container .mid-coll ul {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.footer .container .mid-coll li {
  margin-right: 20px;
}

.footer .container .mid-coll a {
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.footer .container .mid-coll a:hover {
  color: #e54818;
}

.footer .container .mid-coll .copy {
  color: #5b606b;
  text-align: center;
  font-size: 12px;
}

.footer .container .right-coll {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer .container .right-coll a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 5px;
  border-radius: 99px;
  margin-right: 15px;
  transition: 0.3s;
}

.footer .container .right-coll a:last-child {
  margin-right: 0;
}

.footer .container .right-coll a:hover {
  background-color: #e54818;
}

.footer .container .right-coll svg {
  width: 100%;
  height: 100%;
}

.footer .container .right-coll svg * {
  fill: #222f3b;
}

.page-home {
  padding-top: 40px;
}

.page-home .slider-main {
  margin-bottom: 30px;
}

.page-home .slider-main .container {
  position: relative;
}

.page-home .slider-main .container:before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background-image: linear-gradient(to right, #2d3843, transparent);
}

.page-home .slider-main .container:after {
  content: "";
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background-image: linear-gradient(to left, #2d3843, transparent);
}

.page-home .slider-main .container img {
  width: 100%;
  height: 540px;
  -o-object-fit: cover;
  object-fit: cover;
}

.page-home .category-item {
  margin-bottom: 30px;
}

.page-home .category-item .container {
  display: flex;
  align-items: center;
  padding: 40px 0 30px;
  position: relative;
}

.page-home .category-item .container .img {
  width: 370px;
  min-width: 370px;
  height: 300px;
  margin-right: 50px;
}

.page-home .category-item .container .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.page-home .category-item .container .content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page-home .category-item .container .content h2 {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  white-space: nowrap;
}

.page-home .category-item .container .content p {
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 40px;
}

.page-home .category-item .container .title {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
}

.page-home .category-item .container .title h2 {
  margin-right: 25px;
}

.page-home .category-item .container .title .line {
  margin-bottom: 2px;
}

.page-home .category-item .container .read-more {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
}

.page-home .category-item .container .read-more a {
  margin-left: 25px;
}

.page-home .category-item .container .line {
  width: 100%;
  height: 4px;
  background-color: #e54818;
}

.page-home .category-item.reverse .container {
  flex-direction: row-reverse;
}

.page-home .category-item.reverse .container .img {
  margin-right: 0;
  margin-left: 50px;
}

.page-home .about {
  padding-top: 25px;
  margin-bottom: 45px;
}

.page-home .about .section-title {
  margin-bottom: 35px;
}

.page-home .about p {
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 45px;
}

.page-home .about .btn-red {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.page-home .subscribe {
  padding: 30px 0;
  margin-bottom: 30px;
}

.page-home .subscribe h2 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.page-home .subscribe h3 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

.page-home .subscribe form {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.page-home .subscribe form p {
  display: flex;
  align-items: center;
}

.page-home .subscribe form .input {
  background-color: #989ca3;
  border: none;
  color: white;
  font-size: 14px;
  padding: 7px 15px;
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
  width: 235px;
}

.page-home .subscribe form .input::-webkit-input-placeholder {
  color: white;
}

.page-home .subscribe form .input:-ms-input-placeholder {
  color: white;
}

.page-home .subscribe form .input::-ms-input-placeholder {
  color: white;
}

.page-home .subscribe form .input::placeholder {
  color: white;
}

.page-home .subscribe form .btn-red {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 7px 20px;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: -20px;
  cursor: pointer;
}

.page-about .block-content {
  padding-bottom: 60px;
}

.page-about .block-content .section-title {
  margin: 45px auto 40px;
}

.page-about .block-content img {
  width: 445px;
  height: 380px;
  -o-object-fit: cover;
  object-fit: cover;
  float: right;
  margin-left: 25px;
  margin-bottom: 20px;
}

.page-about .block-content li {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
  text-indent: 10px;
  position: relative;
}

.page-about .block-content li:before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 99px;
  position: absolute;
  left: 0;
  top: 0.55em;
}

.page-about .block-content li:last-child {
  margin-bottom: 0;
}

.page-archive .title-block {
  margin: 45px auto 40px;
}

.page-archive .filter ul {
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 40px;
  background-color: #5b606b;
  border-radius: 99px;
  padding: 3px;
}

.page-archive .filter li {
  margin-right: 5px;
}

.page-archive .filter li:last-child {
  margin-bottom: 0;
}

.page-archive .filter li.active a {
  background-color: #e54818;
}

.page-archive .filter a {
  display: block;
  text-align: center;
  white-space: nowrap;
  padding: 5px 16px;
  border-radius: 99px;
  transition: 0.3s;
}

.page-archive .filter a:hover {
  background-color: #e54818;
}

.page-archive .products-list {
  padding-bottom: 100px;
}

.page-archive .products-list ul {
  display: flex;
  flex-wrap: wrap;
}

.page-archive .products-list li {
  width: calc(25% - 30px);
  height: 375px;
  margin-right: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 8px 5px 13px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  position: relative;
}

.page-archive .products-list li > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover;
}

.page-archive .products-list li .prod-card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 12px 17px;
  position: relative;
}

.page-archive .products-list li .prod-card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(45, 56, 67, 0.8), transparent);
}

.page-archive .products-list li .prod-card:hover .opacity {
  opacity: 1;
}

.page-archive .products-list li .prod-card:hover .bottom {
  background-color: #5b606b;
}

.page-archive .products-list li .title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  position: relative;
  z-index: 2;
}

.page-archive .products-list li .weight {
  text-align: center;
  margin-bottom: 14px;
}

.page-archive .products-list li .bottom {
  background-color: rgba(45, 56, 67, 0.8);
  display: flex;
  align-items: center;
  border-radius: 99px;
  position: relative;
  z-index: 3;
  transition: 0.3s;
}

.page-archive .products-list li .bottom .price {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-left: 8px;
}

.page-archive .products-list li .bottom .btn-red {
  padding: 5px 15px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.page-archive .products-list li .bottom .btn-red img {
  width: 21px;
  height: 19px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 9px;
}

.page-archive .products-list li .opacity {
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(34, 47, 59, 0.85);
  padding: 12px 12px 62px;
  border-radius: 5px;
  z-index: 1;
}

.page-archive .products-list li .opacity .description {
  text-align: center;
  font-size: 14px;
  line-height: 1.3;
}

.page-archive .products-list li .opacity .line {
  width: 100%;
  height: 1px;
  background-color: #5b606b;
  margin: 14px 0;
}

.page-archive .products-list li .opacity .radio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 14px;
}

.page-archive .products-list li .opacity .radio .box {
  display: flex;
  justify-content: center;
}

.page-archive .products-list li .opacity .radio input {
  cursor: pointer;
  margin-top: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  width: 13px;
  height: 13px;
  border-radius: 99px;
  margin-right: 10px;
}

.page-archive .products-list li .opacity .radio input:checked {
  background-color: #e54818;
}

.page-archive .products-list li .opacity .radio label {
  cursor: pointer;
  font-size: 16px;
}

.page-archive .products-list li .opacity .number {
  background-color: #3d4350;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 99px;
}

.page-archive .products-list li .opacity .number .plus {
  font-size: 18px;
  text-align: center;
  width: 70px;
  min-width: 70px;
  border-radius: 99px;
  background-color: #5b606b;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-archive .products-list li .opacity .number input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  height: 30px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.page-archive .products-list li .opacity .number input::-webkit-inner-spin-button,
.page-archive .products-list li .opacity .number input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.page-archive .products-list li .opacity .number .minus {
  font-size: 18px;
  text-align: center;
  width: 70px;
  min-width: 70px;
  border-radius: 99px;
  background-color: #5b606b;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-archive .products-list.sous .container {
  display: flex;
}

.page-archive .products-list.sous .img {
  width: 290px;
  min-width: 290px;
  margin-right: 40px;
}

.page-archive .products-list.sous .img img {
  width: 100%;
  height: auto;
}

.page-archive .products-list.sous .sous-list {
  width: 100%;
}

.page-archive .products-list.sous .sous-list ul {
  display: flex;
  flex-direction: column;
}

.page-archive .products-list.sous .sous-list li {
  height: auto;
  border-top: 1px solid #5b606b;
  display: flex;
  align-items: center;
  padding: 10px 7px;
  width: 100%;
  box-shadow: none;
  margin-bottom: 0;
}

.page-archive .products-list.sous .sous-list li:last-child {
  border-bottom: 1px solid #5b606b;
}

.page-archive .products-list.sous .sous-list li .name {
  width: 27%;
  opacity: 0.8;
  font-size: 18px;
}

.page-archive .products-list.sous .sous-list li .weight {
  opacity: 0.8;
  font-size: 18px;
  width: 23%;
  text-align: left;
  margin-bottom: 0;
}

.page-archive .products-list.sous .sous-list li .number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 99px;
  width: 130px;
  margin: 0 auto;
}

.page-archive .products-list.sous .sous-list li .number .plus {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  width: 43px;
  min-width: 43px;
  border-radius: 99px;
  background-color: transparent;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5b606b;
  transition: 0.3s;
}

.page-archive .products-list.sous .sous-list li .number .plus:hover {
  background-color: #5b606b;
}

.page-archive .products-list.sous .sous-list li .number input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  height: 26px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.page-archive .products-list.sous .sous-list li .number input::-webkit-inner-spin-button,
.page-archive .products-list.sous .sous-list li .number input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.page-archive .products-list.sous .sous-list li .number .minus {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  width: 43px;
  min-width: 43px;
  border-radius: 99px;
  background-color: transparent;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5b606b;
  transition: 0.3s;
}

.page-archive .products-list.sous .sous-list li .number .minus:hover {
  background-color: #5b606b;
}

.page-archive .products-list.sous .sous-list li .btn-red {
  padding: 7px 15px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}

.page-archive .products-list.sous .sous-list li .btn-red img {
  width: 21px;
  height: 19px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 9px;
  margin-top: -3px;
}

.page-review .title-block {
  margin-top: 45px;
  margin-bottom: 45px;
}

.page-review .title-block .section-title {
  margin-bottom: 40px;
}

.page-review .title-block .description p {
  text-indent: 10px;
  line-height: 1.5;
  font-size: 16px;
}

.page-review .form-comment {
  margin-bottom: 45px;
}

.page-review .form-comment h3 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #e54818;
  margin-bottom: 10px;
}

.page-review .form-comment .descr {
  font-size: 14px;
  color: #a9aeb8;
  text-align: center;
  margin-bottom: 20px;
}

.page-review .form-comment form .box {
  width: 100%;
  max-width: 330px;
  margin: 0 auto 20px;
  position: relative;
}

.page-review .form-comment form .box input {
  width: 100%;
  font-size: 18px;
  padding: 8px 10px;
  background-color: transparent;
  border: 1px solid #5b606b;
  transition: 0.3s;
}

.page-review .form-comment form .box input::-webkit-input-placeholder {
  color: #5b606b;
}

.page-review .form-comment form .box input:-ms-input-placeholder {
  color: #5b606b;
}

.page-review .form-comment form .box input::-ms-input-placeholder {
  color: #5b606b;
}

.page-review .form-comment form .box input::placeholder {
  color: #5b606b;
}

.page-review .form-comment form .box input:focus {
  border-color: #a9aeb8;
}

.page-review .form-comment form .box .label {
  white-space: nowrap;
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateX(-100%) translateY(-50%);
  transform: translateX(-100%) translateY(-50%);
  color: #a9aeb8;
}

.page-review .form-comment form .box .label-right {
  white-space: nowrap;
  position: absolute;
  right: -20px;
  top: 50%;
  -webkit-transform: translateX(100%) translateY(-50%);
  transform: translateX(100%) translateY(-50%);
  color: #a9aeb8;
}

.page-review .form-comment form textarea {
  width: 100%;
  max-width: 650px;
  display: block;
  margin: 0 auto 20px;
  height: 100px;
  resize: none;
  font-size: 18px;
  padding: 8px 10px;
  background-color: transparent;
  border: 1px solid #5b606b;
}

.page-review .form-comment form textarea::-webkit-input-placeholder {
  color: #5b606b;
}

.page-review .form-comment form textarea:-ms-input-placeholder {
  color: #5b606b;
}

.page-review .form-comment form textarea::-ms-input-placeholder {
  color: #5b606b;
}

.page-review .form-comment form textarea::placeholder {
  color: #5b606b;
}

.page-review .form-comment form textarea:focus {
  border-color: #a9aeb8;
}

.page-review .form-comment form .btn-red {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.page-review .text-comment {
  padding-bottom: 80px;
}

.page-review .text-comment .box {
  position: relative;
  border: 1px solid #5b606b;
  padding: 15px 20px 40px;
  margin-bottom: 20px;
}

.page-review .text-comment .name {
  font-size: 16px;
  color: #e54818;
  margin-bottom: 15px;
}

.page-review .text-comment .text {
  color: #fefefe;
  line-height: 1.3;
  font-size: 16px;
}

.page-review .text-comment .date {
  font-size: 12px;
  color: #a9aeb8;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.page-payment .title-block {
  margin-top: 45px;
  margin-bottom: 40px;
}

.page-payment .filter ul {
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 40px;
  background-color: #5b606b;
  border-radius: 99px;
  padding: 3px;
}

.page-payment .filter li {
  margin-right: 5px;
}

.page-payment .filter li:last-child {
  margin-bottom: 0;
}

.page-payment .filter li.active a {
  background-color: #e54818;
}

.page-payment .filter a {
  display: block;
  text-align: center;
  white-space: nowrap;
  padding: 5px 16px;
  border-radius: 99px;
  transition: 0.3s;
}

.page-payment .filter a:hover {
  background-color: #e54818;
}

.page-payment .content-tabs {
  transition: 0.5s;
  margin-bottom: 45px;
}

.page-payment .content-tabs .container {
  position: relative;
}

.page-payment .content-tabs .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
  z-index: 1;
  display: none;
}

.page-payment .content-tabs .box.open {
  display: block;
  opacity: 1;
  z-index: 3;
}

.page-payment .content-tabs .box h3 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #e54818;
  margin-bottom: 15px;
}

.page-payment .content-tabs .box p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.page-payment .content-tabs .box ul {
  margin-bottom: 10px;
}

.page-payment .content-tabs .box li {
  font-size: 16px;
  line-height: 1.4;
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
}

.page-payment .content-tabs .box li:last-child {
  margin-bottom: 0;
}

.page-payment .content-tabs .box li:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0.7em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 99px;
}

.page-contacts .title-block {
  margin-top: 45px;
  margin-bottom: 45px;
}

.page-contacts .table-contacts .row {
  display: flex;
}

.page-contacts .table-contacts .row.top {
  border-top: 2px solid #595d66;
  border-bottom: 2px solid #595d66;
  margin-bottom: 10px;
}

.page-contacts .table-contacts .row.bottom {
  background-color: #1e2934;
}

.page-contacts .table-contacts .row .box {
  width: 33.333%;
  padding: 15px 35px;
  position: relative;
}

.page-contacts .table-contacts .row .box:not(:last-child):before {
  content: "";
  position: absolute;
  right: -1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2px;
  height: calc(100% - 14px);
  background-color: #595d66;
}

.page-contacts .table-contacts .row .box p {
  font-size: 14px;
  font-weight: 500;
  display: block;
}

.page-contacts .table-contacts .row .box a {
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
  display: block;
}

.page-contacts .table-contacts .row .box a:hover {
  color: #e54818;
}

.page-contacts .table-contacts .row .box:nth-child(1) p {
  margin-bottom: 8px;
}

.page-contacts .table-contacts .row .box:nth-child(1) a:nth-child(2) {
  margin-bottom: 25px;
}

.page-contacts .table-contacts .row .box:nth-child(2) {
  min-width: 295px;
}

.page-contacts .table-contacts .row .box:nth-child(2) p {
  margin-bottom: 12px;
  line-height: 1.4;
}

.page-contacts .table-contacts .row .box:nth-child(3) {
  display: flex;
}

.page-contacts .table-contacts .row .box:nth-child(3) a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #4d535f;
  border-radius: 5px;
  margin-right: 12px;
}

.page-contacts .table-contacts .row .box:nth-child(3) a:last-child {
  margin-right: 0;
}

.page-contacts .table-contacts .row .box:nth-child(3) a:last-child:hover {
  background-color: #ca2693;
}

.page-contacts .table-contacts .row .box:nth-child(3) a:hover {
  background-color: #4d76a1;
}

.page-contacts .table-contacts .row .box:nth-child(3) a svg {
  width: 22px;
  height: 22px;
}

.page-contacts .table-contacts .row .box:nth-child(3) a svg * {
  fill: white;
}

.page-contacts .table-contacts .mob-cont-co {
  display: none;
  flex-wrap: wrap;
}

.page-contacts .table-contacts .mob-cont-co .box {
  width: calc(100% - 195px);
}

.page-contacts .table-contacts .mob-cont-co .box p {
  font-size: 14px;
  font-weight: 500;
  display: block;
}

.page-contacts .table-contacts .mob-cont-co .box a {
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
  display: block;
}

.page-contacts .table-contacts .mob-cont-co .box a:hover {
  color: #e54818;
}

.page-contacts .table-contacts .mob-cont-co .box.title {
  width: 195px;
  min-width: 195px;
  padding: 15px 0;
}

.page-contacts .table-contacts .mob-cont-co .box:nth-child(2n) {
  padding: 15px;
  background-color: #1e2934;
  border-bottom: 3px solid #2d3843;
}

.page-contacts .table-contacts .mob-cont-co .box.phon p {
  margin-bottom: 8px;
}

.page-contacts .table-contacts .mob-cont-co .box.phon a:nth-child(2) {
  margin-bottom: 25px;
}

.page-contacts .table-contacts .mob-cont-co .box.addr p {
  margin-bottom: 12px;
  line-height: 1.4;
}

.page-contacts .table-contacts .mob-cont-co .box.socials {
  display: flex;
}

.page-contacts .table-contacts .mob-cont-co .box.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #4d535f;
  border-radius: 5px;
  margin-right: 12px;
}

.page-contacts .table-contacts .mob-cont-co .box.socials a:last-child {
  margin-right: 0;
}

.page-contacts .table-contacts .mob-cont-co .box.socials a:last-child:hover {
  background-color: #ca2693;
}

.page-contacts .table-contacts .mob-cont-co .box.socials a:hover {
  background-color: #4d76a1;
}

.page-contacts .table-contacts .mob-cont-co .box.socials a svg {
  width: 22px;
  height: 22px;
}

.page-contacts .table-contacts .mob-cont-co .box.socials a svg * {
  fill: white;
}

.page-contacts .map {
  padding: 50px 0;
}

.page-single .title-mob {
  display: none;
  margin-top: 40px;
}

.page-single .product-card {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-single .product-card .container {
  display: flex;
}

.page-single .product-card .left-coll {
  margin-right: 30px;
  width: 250px;
  min-width: 250px;
}

.page-single .product-card .left-coll .main-img {
  width: 250px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

.page-single .product-card .left-coll .size {
  margin-top: 35px;
  margin-bottom: 20px;
}

.page-single .product-card .left-coll .size .row {
  display: flex;
  align-items: center;
}

.page-single .product-card .left-coll .size .row div {
  width: 33.33%;
  text-align: center;
}

.page-single .product-card .left-coll .size .row:nth-child(1) {
  margin-bottom: 10px;
}

.page-single .product-card .left-coll .size .row:nth-child(1) div {
  font-size: 16px;
  color: #e54818;
}

.page-single .product-card .left-coll .size .row.act {
  cursor: pointer;
  border-radius: 99px;
  transition: 0.3s;
  padding: 5px 0;
}

.page-single .product-card .left-coll .size .row.active {
  background-color: #e54818;
}

.page-single .product-card .left-coll .size .row.active * {
  opacity: 1 !important;
}

.page-single .product-card .left-coll .size .row:nth-child(2) div,
.page-single .product-card .left-coll .size .row:nth-child(3) div {
  opacity: 0.8;
}

.page-single .product-card .left-coll .size .row:nth-child(2) div:not(:last-child),
.page-single .product-card .left-coll .size .row:nth-child(3) div:not(:last-child) {
  position: relative;
}

.page-single .product-card .left-coll .size .row:nth-child(2) div:not(:last-child):before,
.page-single .product-card .left-coll .size .row:nth-child(3) div:not(:last-child):before {
  content: "";
  position: absolute;
  right: -2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 9px;
  background-color: white;
}

.page-single .product-card .left-coll .number {
  background-color: #3d4350;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 99px;
  margin-bottom: 20px;
}

.page-single .product-card .left-coll .number .plus {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  width: 70px;
  min-width: 70px;
  border-radius: 99px;
  background-color: #5b606b;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-single .product-card .left-coll .number input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  height: 30px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.page-single .product-card .left-coll .number input::-webkit-inner-spin-button,
.page-single .product-card .left-coll .number input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.page-single .product-card .left-coll .number .minus {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  width: 70px;
  min-width: 70px;
  border-radius: 99px;
  background-color: #5b606b;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-single .product-card .left-coll .bottom {
  background-color: #505661;
  display: flex;
  align-items: center;
  border-radius: 99px;
  position: relative;
  z-index: 3;
  transition: 0.3s;
}

.page-single .product-card .left-coll .bottom .price {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-left: 8px;
}

.page-single .product-card .left-coll .bottom .btn-red {
  padding: 5px 15px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.page-single .product-card .left-coll .bottom .btn-red img {
  width: 21px;
  height: 19px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 9px;
}

.page-single .product-card .right-coll {
  width: calc(100% - 250px - 30px);
}

.page-single .product-card .right-coll .weight-block {
  margin-bottom: 15px;
}

.page-single .product-card .right-coll .weight-block span {
  color: rgba(255, 255, 255, 0.8);
}

.page-single .product-card .right-coll .title-block {
  border-bottom: 2px solid #e54818;
  margin-bottom: 15px;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-single .product-card .right-coll .section-title {
  text-align: left;
  margin: 0;
}

.page-single .product-card .right-coll .section-title:before {
  display: none;
}

.page-single .product-card .right-coll h3 {
  font-size: 16px;
  color: #e54818;
}

.page-single .product-card .right-coll p,
.page-single .product-card .right-coll li {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.page-single .product-card .right-coll .sostav {
  padding-bottom: 17px;
  border-bottom: 1px solid #505661;
  margin-bottom: 20px;
}

.page-single .product-card .right-coll .sostav h3 {
  margin-bottom: 10px;
}

.page-single .product-card .right-coll .sostav ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.page-single .product-card .right-coll .sostav ul li {
  width: 25%;
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
}

.page-single .product-card .right-coll .sostav ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: #e54818;
  border-radius: 9px;
}

.page-single .product-card .right-coll .dobavki {
  margin-bottom: 30px;
}

.page-single .product-card .right-coll .dobavki h3 {
  margin-bottom: 10px;
}

.page-single .product-card .right-coll .dobavki .d-header {
  display: flex;
  flex-wrap: wrap;
}

.page-single .product-card .right-coll .dobavki .d-header p {
  font-size: 16px;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.page-single .product-card .right-coll .dobavki .d-header p:hover {
  color: rgba(228, 234, 246, 0.67);
}

.page-single .product-card .right-coll .dobavki .d-header p.active {
  text-decoration: underline;
}

.page-single .product-card .right-coll .dobavki .d-body .tab {
  display: none;
  border-top: 1px solid #5b606b;
}

.page-single .product-card .right-coll .dobavki .d-body .tab.active {
  display: block;
}

.page-single .product-card .right-coll .dobavki .d-body .tab .box {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #5b606b;
}

.page-single .product-card .right-coll .dobavki .d-body .tab .box .title {
  width: 50%;
}

.page-single .product-card .right-coll .dobavki .d-body .tab .box .price {
  width: 50%;
}

.page-single .product-card .right-coll .dobavki .d-body .tab .box .number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 99px;
  width: 172px;
  min-width: 172px;
}

.page-single .product-card .right-coll .dobavki .d-body .tab .box .number .plus {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  width: 53px;
  min-width: 53px;
  border-radius: 99px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5b606b;
}

.page-single .product-card .right-coll .dobavki .d-body .tab .box .number input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  height: 30px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.page-single .product-card .right-coll .dobavki .d-body .tab .box .number input::-webkit-inner-spin-button,
.page-single .product-card .right-coll .dobavki .d-body .tab .box .number input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.page-single .product-card .right-coll .dobavki .d-body .tab .box .number .minus {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  width: 53px;
  min-width: 53px;
  border-radius: 99px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5b606b;
}

.page-single .product-card .right-coll .text textarea {
  width: 100%;
  height: 67px;
  border: 1px solid #505661;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  background-color: #1e2934;
  padding: 10px;
  border-radius: 5px;
  resize: none;
}

.page-single .product-card .right-coll .text textarea::-webkit-input-placeholder {
  color: #505661;
  font-style: italic;
}

.page-single .product-card .right-coll .text textarea:-ms-input-placeholder {
  color: #505661;
  font-style: italic;
}

.page-single .product-card .right-coll .text textarea::-ms-input-placeholder {
  color: #505661;
  font-style: italic;
}

.page-single .product-card .right-coll .text textarea::placeholder {
  color: #505661;
  font-style: italic;
}

.zaglushka {
  height: 100vh;
}

.zaglushka header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zaglushka .h2 {
  font-size: 23px !important;
}

.page-order .title-block {
  margin-top: 45px;
  margin-bottom: 45px;
}

.page-order .order-table .prod {
  width: 35%;
  min-width: 320px;
}

.page-order .order-table .size {
  width: 18.4%;
}

.page-order .order-table .num {
  width: 18.4%;
}

.page-order .order-table .summ {
  width: 18.4%;
}

.page-order .order-table .dell {
  width: 9.8%;
}

.page-order .order-table .table-headers {
  display: flex;
  align-items: center;
  border: 2px solid #595d66;
  border-left: none;
  border-right: none;
  margin-bottom: 20px;
}

.page-order .order-table .table-headers > p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 15px 10px;
}

.page-order .order-table .table-headers > p:not(:last-child) {
  position: relative;
}

.page-order .order-table .table-headers > p:not(:last-child):after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 2px;
  height: calc(100% - 10px);
  background-color: #595d66;
}

.page-order .order-table .table-body .product-row {
  display: flex;
  background-color: #1e2934;
  margin-bottom: 41px;
  position: relative;
}

.page-order .order-table .table-body .product-row:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 2px;
  background-color: #595d66;
}

.page-order .order-table .table-body .product-row > div:not(:last-child) {
  position: relative;
  padding: 10px;
}

.page-order .order-table .table-body .product-row > div:not(:last-child):after {
  content: "";
  position: absolute;
  right: 0;
  top: 10px;
  width: 2px;
  height: calc(100% - 20px);
  background-color: #595d66;
}

.page-order .order-table .table-body .prod {
  display: flex;
  align-items: flex-start;
}

.page-order .order-table .table-body .prod img {
  width: 140px;
  height: 140px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 10px;
}

.page-order .order-table .table-body .prod h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.page-order .order-table .table-body .prod p {
  max-width: 150px;
  font-size: 12px;
  line-height: 1.2;
}

.page-order .order-table .table-body .size {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-order .order-table .table-body .size .box {
  display: flex;
  justify-content: center;
}

.page-order .order-table .table-body .size .box:not(:last-child) {
  margin-bottom: 20px;
}

.page-order .order-table .table-body .size input {
  cursor: pointer;
  margin-top: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  width: 13px;
  height: 13px;
  border-radius: 99px;
  margin-right: 10px;
}

.page-order .order-table .table-body .size input:checked,
.page-order .order-table .table-body .size input.active {
  background-color: #e54818;
}

.page-order .order-table .table-body .size label {
  cursor: pointer;
  font-size: 16px;
}

.page-order .order-table .table-body .num {
  display: flex;
  align-items: center;
}

.page-order .order-table .table-body .num .number {
  background-color: #3d4350;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 99px;
  width: 140px;
  margin: auto;
}

.page-order .order-table .table-body .num .number .plus {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  width: 40px;
  min-width: 40px;
  border-radius: 99px;
  background-color: #5b606b;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-order .order-table .table-body .num .number input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  height: 30px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.page-order .order-table .table-body .num .number input::-webkit-inner-spin-button,
.page-order .order-table .table-body .num .number input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.page-order .order-table .table-body .num .number .minus {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  width: 40px;
  min-width: 40px;
  border-radius: 99px;
  background-color: #5b606b;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-order .order-table .table-body .summ {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-order .order-table .table-body .summ p {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.page-order .order-table .table-body .dell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-order .order-table .table-body .dell .dell-btn {
  width: 20px;
  height: 20px;
  background-color: #e54818;
  border-radius: 99px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page-order .order-table .table-body .dell .dell-btn span {
  width: 13px;
  height: 1px;
  background-color: white;
  display: block;
}

.page-order .order-table .table-body .dell .dell-btn span:nth-child(1) {
  -webkit-transform: translateY(0.5px) rotate(45deg);
  transform: translateY(0.5px) rotate(45deg);
}

.page-order .order-table .table-body .dell .dell-btn span:nth-child(2) {
  -webkit-transform: translateY(-0.5px) rotate(-45deg);
  transform: translateY(-0.5px) rotate(-45deg);
}

.page-order .total-price .container {
  padding: 30px 0 0 60px;
}

.page-order .total-price .title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.page-order .total-price .numbers {
  width: 300px;
  padding: 15px 10px;
  border: 2px solid #595d66;
  border-left: none;
  border-right: none;
}

.page-order .total-price .numbers .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.page-order .total-price .numbers .box:last-child {
  margin-bottom: 0;
}

.page-order .total-price .numbers .n {
  font-size: 17px;
  font-weight: 500;
}

.page-order .total-price .numbers .p {
  font-size: 17px;
  font-weight: 500;
  color: #e54818;
}

.page-order .title-del {
  padding-top: 50px;
}

.page-order .delivery {
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-order .delivery form {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.page-order .delivery .left {
  width: calc(50% - 15px);
}

.page-order .delivery .input-box {
  margin-bottom: 10px;
}

.page-order .delivery .input-box:last-child {
  margin-bottom: 0;
}

.page-order .delivery .input-box p {
  font-size: 14px;
  color: #727989;
  margin-bottom: 5px;
  padding-left: 15px;
}

.page-order .delivery .input-box .input {
  width: 100%;
  background-color: #595d66;
  border: none;
  color: #a9aeb8;
  padding: 7px 15px;
  border-radius: 99px;
}

.page-order .delivery .input-box .input::-webkit-input-placeholder {
  color: #a9aeb8;
}

.page-order .delivery .input-box .input:-ms-input-placeholder {
  color: #a9aeb8;
}

.page-order .delivery .input-box .input::-ms-input-placeholder {
  color: #a9aeb8;
}

.page-order .delivery .input-box .input::placeholder {
  color: #a9aeb8;
}

.page-order .delivery .input-box .inputs {
  padding-top: 10px;
  display: flex;
}

.page-order .delivery .input-box .inputs .input {
  margin-right: 10px;
  width: calc(33.33% - 6.666px);
}

.page-order .delivery .input-box .inputs .input:last-child {
  margin-right: 0;
}

.page-order .delivery .right {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
}

.page-order .delivery .right h2 {
  font-size: 16px;
  color: #e54818;
  text-align: center;
  margin-bottom: 15px;
}

.page-order .delivery .right textarea {
  width: 100%;
  background-color: #595d66;
  border: none;
  color: #a9aeb8;
  padding: 7px 15px;
  border-radius: 15px;
  resize: none;
  margin-bottom: 10px;
  height: 100px;
}

.page-order .delivery .right .last-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-order .delivery .right .last-line .summa {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.page-order .delivery .right .last-line .summa span {
  display: block;
  margin-left: 5px;
  font-size: 16px;
  color: #e54818;
}

.page-order .delivery .right .pay-var {
  display: flex;
  align-items: center;
  border: 2px solid #595d66;
  border-left: none;
  border-right: none;
  padding: 5px 0;
  margin-bottom: 15px;
}

.page-order .delivery .right .pay-var label {
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 32px;
  padding: 0 5px;
  margin-right: 12px;
  border-radius: 99px;
}

.page-order .delivery .right .pay-var label:last-child {
  margin-right: 0;
}

.page-order .delivery .right .pay-var label:last-child:after {
  display: none;
}

.page-order .delivery .right .pay-var label:after {
  content: "";
  position: absolute;
  right: -7px;
  top: 0;
  width: 2px;
  height: 32px;
  background-color: #595d66;
}

.page-order .delivery .right .pay-var label img {
  margin-right: 5px;
  max-height: 100%;
}

.page-order .delivery .right .pay-var label p {
  font-size: 14px;
}

.page-order .delivery .right .pay-var input:checked + label {
  background-color: #e54818;
}

@media screen and (min-width: 380px) {
  .page-payment .content-tabs .box:nth-child(1) ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 460px) and (max-height: 420px) {
  .header .mob-menu .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .header .mob-menu .top-menu-cont:after {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .header .mob-menu-btn {
    display: none;
  }

  .header .mob-menu {
    display: none;
  }
}

@media screen and (min-width: 1251px) {
  .page-archive .products-list li:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1250px) {
  .page-archive .products-list .container {
    max-width: 950px;
  }
}

@media screen and (max-width: 1140px) {
  .page-home .slider-main .container img {
    height: 42.654vw;
  }
}

@media screen and (max-width: 1024px) {
  .header .top-line {
    display: none;
  }

  .header .mid-line .languages {
    top: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .header .bottom-line {
    display: none;
  }

  .page-about .block-content img {
    width: 43.457vw;
    height: 37.109vw;
  }

  .page-about .block-content li {
    font-size: 14px;
  }

  .page-archive .products-list {
    padding-bottom: 30px;
  }

  .page-review .title-block .description p {
    font-size: 14px;
  }

  .page-review .text-comment {
    padding-bottom: 30px;
  }

  .page-review .text-comment .name {
    margin-bottom: 10px;
  }

  .page-review .text-comment .text {
    font-size: 14px;
  }

  .page-payment .content-tabs .box p {
    font-size: 14px;
  }

  .page-payment .content-tabs .box li {
    font-size: 14px;
  }
}

@media screen and (max-width: 980px) {
  .page-single .product-card .right-coll .sostav ul li {
    width: 33.33%;
  }
}

@media screen and (max-width: 970px) {
  .page-archive .products-list.sous .container {
    flex-direction: column-reverse;
  }

  .page-archive .products-list.sous .img {
    min-width: 200px;
    max-width: 290px;
    width: 100%;
    margin: 0 auto;
  }

  .page-archive .products-list.sous .sous-list {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 950px) {
  .footer .container .mid-coll ul {
    display: none;
  }

  .footer .container .mid-coll .copy {
    padding-top: 50px;
  }

  .page-archive .products-list li {
    width: calc(33.333% - 13.333px);
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 910px) {
  .page-contacts .table-contacts .row .box {
    padding: 15px;
  }

  .page-contacts .table-contacts .row .box:nth-child(2) {
    min-width: 250px;
  }
}

@media screen and (max-width: 900px) {
  body {
    background-size: auto 310px;
    background-position: left top;
  }

  .page-home .category-item .container .img {
    min-width: 280px;
    width: 280px;
  }

  .page-archive .products-list .container {
    max-width: 600px;
  }
}

@media screen and (max-width: 830px) {
  .page-review .form-comment form .box .label-right {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .page-archive .filter ul {
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    padding: 5px;
  }

  .page-archive .filter li {
    margin-right: 0;
    width: 100%;
    margin-bottom: 5px;
  }

  .page-archive .filter li:last-child {
    margin-bottom: 0;
  }

  .page-archive .filter a {
    width: 100%;
    border-radius: 10px;
  }

  .page-payment .filter ul {
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    padding: 5px;
  }

  .page-payment .filter li {
    margin-right: 0;
    width: 100%;
    margin-bottom: 5px;
  }

  .page-payment .filter li:last-child {
    margin-bottom: 0;
  }

  .page-payment .filter a {
    width: 100%;
    border-radius: 10px;
  }

  .page-single .product-card .right-coll .sostav ul li {
    width: 50%;
  }

  .page-single .product-card .right-coll .text textarea {
    height: 120px;
  }
}

@media screen and (max-width: 768px) {
  .page-home .category-item .container {
    padding: 10px 0 20px;
  }

  .page-home .category-item .container .img {
    min-width: 200px;
    width: 200px;
    height: 200px;
    margin-right: 25px;
  }

  .page-home .category-item .container .content p {
    margin-bottom: 20px;
  }

  .page-home .category-item.reverse .container .img {
    margin-left: 25px;
  }
}

@media screen and (max-width: 720px) {
  .page-single .product-card .right-coll .title-block img {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding-bottom: 45px;
  }

  .footer .container .mid-coll .copy {
    position: absolute;
    left: 50%;
    bottom: -30px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0;
  }
}

@media screen and (max-width: 680px) {
  .header .mid-line h1 {
    font-size: 9.559vw;
  }
}

@media screen and (max-width: 670px) {
  .page-contacts .table-contacts .row.desc {
    display: none;
  }

  .page-contacts .table-contacts .mob-cont-co {
    display: flex;
  }
}

@media screen and (max-width: 660px) {
  .page-single .product-card .right-coll .sostav ul li {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .page-about .block-content {
    padding-bottom: 40px;
  }

  .page-about .block-content img {
    width: 100%;
    height: 50vw;
    float: none;
    margin: 0;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 640px) {
  .slick-dots {
    bottom: 10px;
  }

  .slick-dots li {
    margin-right: 6px;
  }

  .slick-dots button {
    width: 10px;
    height: 10px;
  }

  .page-home .category-item .container .content h2 {
    font-size: 24px;
  }

  .page-home .about {
    margin-bottom: 35px;
  }

  .page-home .about p {
    margin-bottom: 25px;
  }

  .page-home .subscribe h2 {
    font-size: 18px;
  }

  .page-home .subscribe h3 {
    font-size: 13px;
  }

  .page-home .subscribe form .input {
    font-size: 12px;
    height: 31px;
  }

  .page-home .subscribe form .btn-red {
    height: 31px;
    padding: 8px 20px;
    font-size: 10px;
  }
}

@media screen and (max-width: 620px) {
  .header .mid-line {
    padding-bottom: 0;
  }

  .page-home .category-item .container .img {
    position: absolute;
    right: 0;
    opacity: 0.3;
    height: 60%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 600px) {
  .page-archive .products-list .container {
    max-width: 300px;
  }

  .page-archive .products-list li {
    width: 100%;
    margin-right: 0;
  }

  .page-archive .products-list.sous .container {
    max-width: 1140px;
  }

  .page-archive .products-list.sous .sous-list li {
    flex-direction: column;
    align-items: center;
  }

  .page-archive .products-list.sous .sous-list li .name {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .page-archive .products-list.sous .sous-list li .weight {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  .page-archive .products-list.sous .sous-list li .number {
    margin-bottom: 15px;
  }

  .page-archive .products-list.sous .sous-list li .btn-red {
    margin-left: 0;
  }

  .page-review .text-comment .box {
    padding: 15px 15px 40px;
  }
}

@media screen and (max-width: 560px) {
  .page-single .title-mob {
    display: block;
  }

  .page-single .product-card .container {
    flex-direction: column;
  }

  .page-single .product-card .left-coll {
    width: 100%;
    min-width: 20px;
    max-width: 300px;
    margin: 0 auto 30px;
  }

  .page-single .product-card .right-coll {
    width: 100%;
  }

  .page-single .product-card .right-coll .title-block {
    display: none;
  }

  .page-single .product-card .right-coll .sostav ul li {
    width: 50%;
  }
}

@media screen and (max-width: 515px) {
  .page-contacts .table-contacts .mob-cont-co .box {
    width: calc(100% - 130px);
  }

  .page-contacts .table-contacts .mob-cont-co .box.title {
    font-size: 14px;
    width: 130px;
    min-width: 130px;
  }
}

@media screen and (max-width: 480px) {
  .header .mid-line h2 {
    font-size: 15px;
  }

  .zaglushka .h2 {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 450px) {
  .page-home .slider-main .container:before {
    width: 20px;
  }

  .page-home .slider-main .container:after {
    width: 20px;
  }

  .page-home .category-item .container .read-more a {
    padding: 5px 25px;
  }
}

@media screen and (max-width: 440px) {
  .page-contacts .table-contacts .mob-cont-co {
    flex-direction: column;
  }

  .page-contacts .table-contacts .mob-cont-co .box {
    width: 100%;
  }

  .page-contacts .table-contacts .mob-cont-co .box:nth-child(1) {
    padding-top: 0;
  }

  .page-contacts .table-contacts .mob-cont-co .box.title {
    width: 100%;
  }
}

@media screen and (max-width: 390px) {
  .page-home .subscribe form .input {
    width: 170px;
  }
}

@media screen and (max-width: 380px) {
  .footer .container {
    flex-direction: column;
  }

  .footer .container > div:nth-child(1),
  .footer .container > div:nth-child(3) {
    width: 100%;
  }

  .footer .container .left-coll h3 {
    text-align: center;
  }

  .footer .container .left-coll p {
    text-align: center;
  }

  .footer .container .right-coll {
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  .page-single .product-card .right-coll .sostav ul li {
    width: 100%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1250px) {
  .page-archive .products-list li {
    width: calc(33.333% - 26.667px);
    height: 400px;
  }

  .page-archive .products-list li:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .page-archive .products-list li {
    width: calc(50% - 15px);
  }

  .page-archive .products-list li:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen {
  .page-review .form-comment form .box .label {
    position: static;
    -webkit-transform: none;
    transform: none;
    padding-bottom: 5px;
    display: block;
  }
}